<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8;">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <title>jQuery事件日历插件Calendar</title>
    <link rel="stylesheet" href="https://raw.githack.com/1260408088/static/master/calendar.css">
    <style type="text/css">
        ul, ol, li {
            list-style: none;
            padding: 0;
            margin: 0;
        }
		#demo {
			width: 200px;
			margin: 0px auto;
	}
    </style>
</head>
<body>
<div id="demo">
    <div id="ca" style="position: absolute">
    </div>
</div>
<script src="https://raw.githack.com/1260408088/static/master/jquery.js"></script>
<script src="https://raw.githack.com/1260408088/static/master/calendar.js"></script>
<script>
    $(function () {
        head = "https://1260408088.github.io";
		transtime=300; // dong
    });
    $('#ca').calendar({
        width: 200,
        height: 200,
        onSelected: function (view, date, data) {   // 点击事件
            if (view == "month") {
                let fullYear = date.getFullYear();
                monthTag(fullYear, date.getMonth() + 1);
            } else {
                let year = date.getFullYear();
                let month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                let day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var fulltime = year + "-" + month + "-" + day;
                var keytime = year + "-" + (date.getMonth() + 1);
                let mycalendarElement = mycalendar[keytime];
                $(".toast").hide(transtime);
                $("#toast a").remove();
                $("#toast br").remove();
                for (var i = 0; i < mycalendarElement.length; i++) {
                    let ordertime = mycalendarElement[i]["date"].substring(0, 10);
                    if (fulltime == ordertime) {
                        console.log(fulltime)
                        console.log(ordertime)
                        $(".toast").show("transtime");
                        var title = mycalendarElement[i]["title"];
                        var link = head + mycalendarElement[i]["link"];
                        $("#toast").append('<a style="text-decoration:none;border-bottom-color:#fff;font-family:等线 Light;color: #fff;font-size: 13px;"' + 'href="' + link + '">' + '<marquee scrollamount=5 onMouseOut="this.start()" onMouseOver="this.stop()">' + title + '</marquee></a><br/>');

                        console.log(mycalendarElement[i]["link"]);
                    }
                }
            }
            /*console.log('view:' + view);
            alert('date:' + date);
            console.log('data:' + (data || 'None'));*/
        }
    });

    function resolveyear() { // 准备数据
        var currentyear = getCurrentyear();
        var currentmonth = getCurrentmonth();
        console.log(currentyear, currentmonth);
        gblmonth = currentmonth;
        if (currentmonth == 13) { // 首次加载，需要延时
            setCurrentmonth(1); // 首次以后不延时直接执行
            setTimeout(function () {
                $("#ca").append('<div id="toast" class="toast"></div>');
                $(".toast").hide("transtime");
                if (mycalendar) {
                    monthTag(currentyear);
                } else {
                    alert("网络有问题的，云日历功能不能使用....");
                }
            }, 2000);
        } else {
            monthTag(currentyear, null);
        }
    }

    // 对月份进行设置，json文件中存在的才显示
    function monthTag(currentyear, date) {
        removeHaveClass();
        // debugger;
        var flag = true;
        var mycalValue = new Array()
        for (let i = 1; i <= 12; i++) {
            if (mycalendar[currentyear + "-" + i]) {
                console.log("这才是当前的页" + mycalendar[currentyear + "-" + i]);
                console.log(i);
                addHaveClass(i);
                // 此处对当前月份下的日子进行匹配
                if (date) {
                    var month = date;
                } else {
                    var currentData = new Date();
                    var month = currentData.getMonth() + 1;
                }

                if (flag) { // 只在内部循环一次，当前页的数据后就不再管了
                    flag = false;
                    if (mycalendar[currentyear + "-" + month]) {
                        for (var j = 0; j < mycalendar[currentyear + "-" + month].length; j++) {
                            var pagedata = mycalendar[currentyear + "-" + month][j];
                            var needdate = pagedata["date"].substring(8, 10);
                            if (needdate < 10) {
                                needdate = needdate.replace(0, "");
                            }
                            mycalValue[j] = needdate; // 存到一个数组中备用
                            console.log(needdate);
                        }
                    }
                }
            }
        }
        resolveday(month, mycalValue, currentyear);
    }

    // 对月份下的日期进行渲染
    function resolveday(month, mycalValue, currentyear) {
        $(".toast").hide("transtime");
        console.log("mycal------------" + mycalValue);
        var precurrentyear=currentyear;
        var nextcurrentyear=currentyear;
        let attr = $("#cal" + month).children("li");
        var preMonth = month - 1 > 0 ? month - 1 : 12;
        var nextMonth = month + 1 > 12 ? 1 : month + 1;
        if (preMonth==12) {
            precurrentyear = currentyear - 1;
        }
        if(nextMonth==1){
            nextcurrentyear = currentyear + 1;
        }
        // if (preMonth != 1 && nextMonth != 1) { // 没有年份的跳跃
            var prevalue =judgeMonth(precurrentyear,preMonth); // 前一个月存在的数据
            var nextvalue =judgeMonth(nextcurrentyear,nextMonth); // 后一个月存在的数据
            jQuery.each(attr, function () {
                let emptclass = jQuery(this).attr("class");
                console.log(emptclass);
                if (emptclass) {
                    if(emptclass=="old"){ // 前一个月的数据
                     var dayVal = jQuery(this).text();
                     if (prevalue.indexOf(dayVal) > -1) { // 存在于数组之中,给当天的日期加一个样式
                         jQuery(this).css("color","#FF808E");
                     }
                 } else if(emptclass=="new"){
                    var dayVal = jQuery(this).text();
                    if (nextvalue.indexOf(dayVal) > -1) { // 存在于数组之中,给当天的日期加一个样式
                        jQuery(this).css("color","#FF808E");
                    }
                 }
                }else {
                    var dayVal = jQuery(this).text();
                    if (mycalValue.indexOf(dayVal) > -1) { // 存在于数组之中,给当天的日期加一个样式
                        jQuery(this).css("color","#FF808E");
                    }
                }
            });
        // }
    }
    
    function judgeMonth(currentyear,month) { // 解析当前年份与月份中存在的文章
        console.log("为什么不出现:"+currentyear+"----------"+month);
        var Value = new Array();
        if (mycalendar[currentyear + "-" + month]) {
            for (var j = 0; j < mycalendar[currentyear + "-" + month].length; j++) {
                var pagedata = mycalendar[currentyear + "-" + month][j];
                var needdate = pagedata["date"].substring(8, 10);
                if (needdate < 10) {
                    needdate = needdate.replace(0, "");
                }
                Value[j] = needdate; // 存到一个数组中备用
            }
        }
        console.log("judgeMonth:"+Value);
        return Value;
    }
    
    // 相对当前月份的上一月与下一月判断解析
    function nextMonth() {
        $(".toast").hide("transtime");
        monthTag(getCurrentyear(), getCurrentmonth());
    }

    function preMonth() {
        $(".toast").hide(transtime);
        monthTag(getCurrentyear(), getCurrentmonth());
    }

    function retuenday() {
        if (mycalendar) {
            monthTag(getCurrentyear(), getCurrentmonth());
        }
    }
</script>
</body>
</html>